/* Pon tu código css aqui */
.color {
	width: 25%;
	height: 100px;
}

.grande {
	border: 1px solid gray;
}

.yellow {
	background:#ffff00;
}
.blue{
	background: #3a81ba;
}
.pink {
	background: #ed2251;
}

/* AGREGANDO FLOAT A LAS CAJAS COLOR ERROR RAYITA */

.float div {
	float: left;	
}

/* AGREGANDO FLOAT Y CORRIGIENDO LA CAJA ELIMINAR RAYITA */
.arreglado div {
	
	float: right;	
}
/**  se CORRIGE SOLO PARA LA CAJA LUEGO CONTINUA  **/
.arreglado {
	overflow: auto;	
}

/** sE CORRIGGE PERO DE FORMA ANTIGUA **/
.separador {
	clear: both;
}

/* Lo máximo*/
.ideal  div {
	float: left;	
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

