/* Pon tu código css aqui */
.color {
	
	width: 100px;
	height: 25px;

}

.grande {
	
	border: 1px solid gray;
	
}

#yellow {
	background:#ffff00;

}
#blue{
	background: #3a81ba;
}
#pink {
	background: #ed2251;
}

/* AGREGANDO FLOAT A LAS CAJAS */

#grandefloat div{
	float: left;	
}

/* AGREGANDO FLOAT Y CORRIGIENDO LA CAJA */
#arreglado div {
	
	float: left;	
}

#arreglado {
	
	overflow: auto;	
}
